@model List<Hv.Sos100.DataService.Statistics.Api.Models.AdStatistics>;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="secondNav">
    <div class="secondNavText">
        <a class="secondNavLink" asp-action="Index" asp-controller="ActivityStatistics">Aktiviteter</a>
        <a class="secondNavLink" asp-action="Index" asp-controller="EventStatistics">Evenemang</a>
        <a class="secondNavLink" asp-action="Index" asp-controller="AdStatistics">Annonser</a>
    </div>
</div>
<div class="titelContainer">
    <header>
        <h1 class="titel">ANNONSER</h1>
    </header>
</div>
<div class="tableContainer">
    <table>
        <thead>
            <tr>
                <th class="tableStyle">ID</th>
                <th class="tableStyle">Antal visningar</th>
            </tr>
        </thead>
        @foreach (var activity in Model)
        {
            <tr>
                <td class="tableStyle">@activity.AdvertisementStatisticsID</td>
                <td class="tableStyle">@activity.TotalViews</td>
            </tr>
        }
    </table>
</div>