<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Eventivo Statistik</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Hv.Sos100.DataService.Statistics.AdminGui.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <link rel="stylesheet" href="https://informatik4.ei.hv.se/CSS/eventivoNavbarFinal.css" /> @*Länk till Navbar+Footer CSS från servern*@
    <link rel="icon" href="~/images/logo_eventivo.png" type="image/png">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
    @{
        var isAuthenticated = ViewData["IsAuthenticated"] as string;
        var userId = ViewData["UserID"] as string;
        var userRole = ViewData["UserRole"] as string;
    }
    <header class="header-trollhattan">
        <nav class="navbar bg-custom border-body">

            <a class="navbar-brand" asp-action="Index" asp-controller="Home">
                <img src="~/images/logo_eventivo.png" alt="Logo" id="index" width="70" height="70" class="d-inline-block align-text-top" />
            </a>

            @if (userRole == "Admin")
            {
                <a class="nav-link" href="https://informatik4.ei.hv.se/EVENTADMIN/Events/Index">EVENT</a>
                <a class="nav-link" href="https://informatik1.ei.hv.se/ActivityWEB/FixedEvents">AKTIVITET</a>
                <a class="nav-link" href="https://informatik6.ei.hv.se/adsgui">ANNONSER</a>
                <a class="nav-link" href="https://informatik3.ei.hv.se/konto/UsersWebAPIs">KONTON</a>
                <a class="nav-link" href="https://informatik6.ei.hv.se/loggui">LOGGNING</a>
                <a class="nav-link" href="https://informatik2.ei.hv.se/Organizer">ORGANISATION</a>
                <a class="nav-link" href="https://informatik8.ei.hv.se/places/places/Crudindex">PLATSER</a>
                <a class="nav-link" href="https://informatik6.ei.hv.se/StatisticAdminGui">STATISTIK</a>
                <a class="nav-link" href="https://informatik5.ei.hv.se/monitoring">ÖVERVAKNING</a>
                <a class="btn btn-danger my-2 my-sm-0" asp-action="Logout" asp-controller="Events">Logout</a>
            }
            else if (userRole == "Organizer")
            {
                <a id="eventLink" class="nav-link dropdown-toggle" href="#" role="button" aria-expanded="false">EVENT</a>
                <a class="nav-link" href="https://informatik1.ei.hv.se/ActivityWEB/FixedEvents">AKTIVITET</a>
                <a class="nav-link" href="https://informatik6.ei.hv.se/StatisticEnterpriseGui">STATISTIK</a>
                <a class="btn btn-danger my-2 my-sm-0" asp-action="Logout" asp-controller="Events">Logout</a>
            }
            else
            {
                <h3 style="color: white;">Login as Admin or Organizer to view navbar</h3>
            }

            <div class="nav-list">
                <div class="vr text-light" style="width: 3px;"></div>
                <a class="nav-link" href="https://informatik5.ei.hv.se/eventivo/Home/Search">SÖK EVENT <img class="search-icon" src="~/images/searchglass.svg" /></a>
                <div class="vr text-light" style="width: 3px;"></div>
                <div id="loginStatus">
                    @* <div id="skeleton-profile-placeholder"></div>  *@
                    <a class="nav-link line-profile" id="logged-out-menu" asp-action="Login" asp-controller="Home">LOGGA IN</a>
                </div>
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        VÄLJ STAD
                    </a>
                    <ul class="dropdown-menu dropdown-cities">
                        <h6 class="dropdown-header">VALBARA<br />STÄDER</h6>
                        <div class="dropdown-divider bg-light"></div>
                        <li class="dropdown-city"><a class="dropdown-item" href="https://informatik5.ei.hv.se/eventivo/Trollhattan/Home">Trollhättan</a></li>
                        <li class="dropdown-city"><a class="dropdown-item" href="https://informatik5.ei.hv.se/eventivo/Vastervik/Home">Västervik</a></li>
                    </ul>
                </div>

            </div>

        </nav>
    </header>

    <div class="content">
        @RenderBody()
    </div>

    <footer class="footer d-flex justify-content-between align-items-center py-3 my-4">

        <div class="footer-wrapper">
            <div class="footer-icons d-flex flex-column align-items-start">
                <a href="https://instagram.com" class="mb-2"><img class="logo-footer" src="~/images/logo-instagram.png" /><p class="footer-icon-text">Eventivo</p></a>
                <a href="https://twitter.com" class="mb-2"><img class="logo-footer" src="~/images/logo-twitter.png" /><p class="footer-icon-text">Eventivo</p></a>
                <a href="https://facebook.com" class="mb-2"><img class="logo-footer" src="~/images/logo-facebook.png" /><p class="footer-icon-text">Eventivo</p></a>
            </div>
        </div>

        <div class="footer-nav">
            <ul class="nav justify-content-center">
                <li class="nav-item-footer"><a class="nav-link-footer" asp-action="About" asp-controller="Home">OM OSS</a></li>
                <li class="nav-item-footer"><a class="nav-link-footer" asp-action="Contact" asp-controller="Home">KONTAKT</a></li>
                <li class="nav-item-footer"><a class="nav-link-footer" asp-action="Privacy" asp-controller="Home">SEKRETESS</a></li>
            </ul>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Hämta referens till "EVENT" knappen
            var eventLink = document.getElementById('eventLink');

            // Lägg till eventlyssnare på "EVENT" knappen
            eventLink.addEventListener('click', function (event) {
                event.preventDefault(); // Förhindra standardbeteende för länken

                // Visa/dölj den andra navigeringsfältet
                var navbar2 = document.querySelector('.navbar2');
                navbar2.style.display = navbar2.style.display === 'none' ? 'block' : 'none';
            });

            // Lägg till ytterligare en eventlyssnare för att visa navbar2 vid första klicket
            eventLink.addEventListener('click', function () {
                var navbar2 = document.querySelector('.navbar2');
                navbar2.style.display = 'block';
                // Ta bort den här eventlyssnaren efter första klicket för att undvika duplicering
                eventLink.removeEventListener('click', arguments.callee);
            });
        });
    </script>

    <script>
        function changeFontAndText(element) {
            var navLinks = document.querySelectorAll('.nav-link');
            navLinks.forEach(function (navLink) {
                navLink.style.fontWeight = 'normal';
            });

            element.style.fontWeight = 'bold';
        }
    </script>

</body>
</html>
