html body {
    font-size: 14px;
    font-family: 'Istok Web', sans-serif;
    max-width: 100%;
    overflow-x: hidden;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-weight: 500;
}
.secondNav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    background-color: #181717;
}
.secondNavText {
    list-style: none;
    margin: 0;
    padding: 0;
}
.secondNavLink {
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s ease;
    display: inline-block;
    margin-right: 1rem;
}

.secondNavLink:hover {
        color: darkgoldenrod;
}

.gradienttext {
    font-size: 1rem; /* Justera storleken efter behov */
    background-image: linear-gradient(to right, #FE85B6, #FFBE74); /* Gradient för texten */
    -webkit-background-clip: text; /* Använd gradienten som textfärg för webkit-baserade webbläsare */
    background-clip: text; /* Använd gradienten som textfärg */
    color: transparent; /* Gör texten genomskinlig, så att gradienten syns igenom */
    filter: saturate(200%);
    text-decoration: none !important; /* Ta bort understrykning */
    display: inline-block;
    margin-right: 1rem;
}


    table, th, td {
        border: 1px solid;
        width: 80vw;
    }
.tableStyle{
    padding: 10px;
}
.tableContainer{
    display: flex;
    justify-content: center;
    margin-bottom: 20vh;
    margin-top: 8vh;
}
.titelContainer {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
    color: #212121;
}
.totalContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vw;
}
.totalBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: 25vh;
    border-radius: 10px 10px;
    padding: 2%;
    text-align: center;
    background-image: linear-gradient(to right bottom, #d95786, #ff7273, #ff9b5a, #ffcc48, #ffff54);
    margin-bottom: 0;
    box-shadow: #AEAEAE 5px 5px 10px;
}
.totalBox h2, p{
    margin: 0;
}
.totalTitel{
    font-size: 1.2em;
    font-weight: bold;
    padding-bottom: 3vh;
}
.totalCategoryActivity{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 60vh;
    width: 100vw;
}