<!DOCTYPE html>
<html>
<head>
    <title>Annons</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="~/css/ad.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-logo">
            <a href="https://informatik5.ei.hv.se/eventivo"> <img src="~/lib/Bilder/loggaEventivo.png" width="70" height="70"> </a>
        </div>
        <ul class="navbar-nav">

            <li class="nav-item"><a href="/Home/Index">LOGGA UT</a></li>
        </ul>
    </nav>

    <nav class="categorymenu">
        <ul class="navbar-nav">
            <li class="nav-item"><a href="/Activity/Index">AKTIVITETER</a></li>
            <li class="nav-item"><a href="/Event/Index">EVENEMANG</a></li>
            <li class="gradienttext"><a href="/Ad/Index">ANNONSER</a></li>
        </ul>
    </nav>
    <h1>ANNONSSTATISTIK</h1>
    <hr>
    <div class="ChooseAd">
        <label for="ads">VÄLJ ANNONS:</label>
        <select id="ads" onchange="updateStatistics()">
            <option value="annons1">Annons 1</option>
            <option value="annons2">Annons 2</option>
            <option value="annons3">Annons 3</option>
        </select>
    </div>


    <div class="chart-container">
        <div class="chart-info">
            <h2>VISNINGAR</h2>
            <p>Statistik för hur många som visat annonsen.</p>
        </div>
        <canvas id="ViewsChart"></canvas>
    </div>

    <script>
        var views = @Html.Raw(ViewBag.Views);

        var ctxViews = document.getElementById('ViewsChart').getContext('2d');
        var viewsChart = new Chart(ctxViews, {
            type: 'bar',
            data: {
                labels: [''],
                datasets: [{
                    label: 'Visningar',
                    data: [views],
                    backgroundColor: '#CCCCCC',
                    borderColor: '#000',
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });


    </script>
</body>
</html>
