<div class="dropdown">
    <button class="dropbtn">Välj område</button>
    <div class="dropdown-content">
        <a asp-controller="ActivityStatistics" asp-action="Index">Aktiviteter</a>
        <a asp-controller="AdStatistics" asp-action="Index">Annonser</a>
        <a asp-controller="CountyStatistics" asp-action="Index">Kommuner</a>
        <a asp-controller="EventStatistics" asp-action="Index">Evenemang</a>
    </div>
</div>
<div>
    <canvas id="myChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    const ctx = document.getElementById('myChart');

    new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
            datasets: [{
                label: '# of Votes',
                data: [12, 19, 3, 5, 2, 3],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>