<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hv.Sos100.DataService.Log.Gui</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Hv.Sos100.DataService.Log.Gui.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://informatik4.ei.hv.se/CSS/eventivoNavbar.css" />
</head>
<body>
    @{
        var isAuthenticated = ViewData["IsAuthenticated"] as string;
    }
    <header>
        <nav class="navbar bg-custom border-body">
            <a class="navbar-brand" asp-action="Index" asp-controller="Home">
                <img src="~/images/logo_eventivo.png" alt="Logo" width="65" height="70" class="d-inline-block align-text-top">
            </a>


            <div class="d-flex justify-content-center">
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    EVENT
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" asp-action="Create" asp-controller="Events">Lägg till event</a></li>
                    <li><a class="dropdown-item" asp-action="Index" asp-controller="Events">Hantera event</a></li>
                </ul>
            </div>
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    AKTIVITET
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" asp-action="#" asp-controller="#">Lägg till aktivitet</a></li>
                    <li><a class="dropdown-item" asp-action="#" asp-controller="#">Hantera aktivitet</a></li>
                </ul>
            </div>
            </div>

           

            <div class="nav-list">
                <a class="nav-link" asp-action="Trollhattan_Search" asp-controller="Cities"><img class="search-icon" src="~/images/searchglass.svg" />SÖK EVENT</a>
                <div class="vr text-light" style="width: 3px;"></div>
                <a class="nav-link" asp-action="MyProfile" asp-controller="Home">LOGGA UT</a> @*fixa logga ut skiten ba*@
                <div class="vr text-light" style="width: 3px;"></div>

                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        STAD
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" asp-action="Trollhattan" asp-controller="Cities">Trollhättan</a></li>
                        <li><a class="dropdown-item" asp-action="Vastervik" asp-controller="Cities">Västervik</a></li>
                    </ul>
                </div>
            </div>

            <div>
                @if (isAuthenticated != "true")
                {
                    <button type="button" class="btn btn-primary m-2" data-bs-toggle="modal" data-bs-target="#loginModal">
                        LOGGA IN
                    </button>

                    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="loginModalLabel">LOGGA IN</h5>
                                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <div class="modal-body">

                                    <form asp-controller="Home" asp-action="Login">
                                        <div class="form-group m-2">
                                            <label for="inputEmail">E-post</label>
                                            <input class="form-control" id="inputEmail" name="email" placeholder="Ange E-post">
                                        </div>
                                        <div class="form-group m-2">
                                            <label for="inputPassword">Lösenord</label>
                                            <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Ange Lösenord">
                                        </div>
                                        <button type="submit" class="btn btn-primary m-2">FORTSÄTT</button>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="row m-2">
                        <div class="col-sm-6">
                            <form asp-controller="Home" asp-action="Logout">
                                <button type="submit" class="btn btn-primary">LOGGA UT</button>
                            </form>
                        </div>
                    </div>
                }
            </div>

        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer d-flex justify-content-between align-items-center py-3 my-4">
        <div class="footer-icons d-flex flex-column align-items-start">
            <a href="https://instagram.com" class="mb-2"><img class="logo-footer" src="~/images/logo-instagram.png" /><p class="footer-icon-text">Eventivo</p></a>
            <a href="https://twitter.com" class="mb-2"><img class="logo-footer" src="~/images/logo-twitter.png" /><p class="footer-icon-text">Eventivo</p></a>
            <a href="https://facebook.com" class="mb-2"><img class="logo-footer" src="~/images/logo-facebook.png" /><p class="footer-icon-text">Eventivo</p></a>
        </div>
        <div class="footer-nav">
            <ul class="nav justify-content-center">
                <li class="nav-item"><a href="#" class="nav-link">OM OSS</a></li>
                <li class="nav-item"><a href="#" class="nav-link">KONTAKT</a></li>
                <li class="nav-item"><a href="#" class="nav-link">SEKRETESS</a></li>
            </ul>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script>
        function changeFontAndText(element) {
            // Reset all nav-link elements
            var navLinks = document.querySelectorAll('.nav-link');
            navLinks.forEach(function (navLink) {
                navLink.style.fontWeight = 'normal'; // Reset font weight
            });

            // Set the clicked nav-link to bold font weight
            element.style.fontWeight = 'bold';
        }
    </script>
    @if (ViewBag.ShowLoginModal != null && ViewBag.ShowLoginModal)
    {
        <script>
            $(document).ready(function () {
                $('#loginModal').modal('show');
            });
        </script>
    }

</body>
</html>
