html {
  font-size: 1rem;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 4rem;
}

.container {
    text-align: center;
}

.title {
    font-size: 2rem;
    margin-top: 2rem;
}

.logs-container {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}

.logs-table {
    width: 100%;
    max-width: 2000px;
    border-collapse: collapse;
}

    .logs-table th,
    .logs-table td {
        border: 1px solid black;
        padding: 0.8rem;
    }

    .logs-table th {
        background-color: #F9F871;
    }

    .logs-table .id-column {
        width: 5%;
    }

    .logs-table .time-column {
        width: 20%;
    }

    .logs-table .severity-column {
        width: 10%;
    }

    .logs-table .source-column {
        width: 20%;
    }